.board {
    background: #fff;
    color: #222;
    box-shadow: 20px -20px 90px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

.board.error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

tr {
    border-bottom: 1px solid #e5e5e5;

    &:nth-child(3n) {
        border-bottom: 2px solid #ddd;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

td {
    border-right: 1px solid #e5e5e5;

    &:nth-child(3n) {
        border-right: 2px solid #ddd;
    }

    &:last-of-type {
        border-right: none;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }