div {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #024DBB;
    cursor: pointer;
}

.preset {
    color: #222;
}

.selected.inline {
    background-color: #ffe479;
}

.inline {
    background-color: #fff7d5;
}

.conflict {
    background-color: #ffdec7;
    color: #CC5000;
}

.selected.conflict {
    background-color: #FFC199;
}

.preset {
    color: #222;
}